@model int

<a asp-controller="Carrito" asp-action="Index" class="btn btn-outline-dark rounded-pill ms-2 d-flex align-items-center gap-2">
    <i class="bi bi-cart3"></i>
    <span>Carrito</span>
    <span class="badge bg-dark rounded-pill">@Model</span>
</a>